.title{
   font-family: "Acme", sans-serif;
    font-weight: 900;
}

.cover-bg{
    background: rgb(168,167,245);
background: linear-gradient(90deg, rgba(185, 184, 246, 0.117) 0%, rgba(8, 5, 54, 0.107) 87%);
}